section.about
    min-height: calc(100vh - 117px)

    +flex-box(column)

    background-color: #313136
    color: #8A8B91

    div.message 

        +flex-box-center()
        flex-basis: 20vh

        p
            font-size: 24px
            text-align: center

            span 
                height: 70px
                line-height: 70px
            .cursor 
                opacity: 0
                transition: 0.15s
            .cursor.active 
                opacity: 1

    div.summary 

        flex-grow: 1
        display: flex
        
        div.container

            flex-basis: 100%
            +flex-box(column)
            justify-content: space-evenly

            div
                flex-basis: 30%
                flex-grow: 1

                +flex-box(column)

                justify-content: center

                span 

                    flex-basis: 50%

                    +flex-box-center()
  
                    &:nth-child(1)
                    
                        font-weight: bold
                        font-size: 30px
                        background-color: #ED221C
                        color: black

                    &:nth-child(2)
                        font-size: 24px


@media(min-width: 533px)
    section.about
   
        div.summary 

            justify-content: center
            align-items: center

            div.container

                flex-basis: 80%
                height: 30vh
                flex-direction: row


@media(min-width: 1025px)

        section.about
            div.message 
                p 
                    font-size: 50px
            div.summary 
                div.container
                    div
                        span 
                            &:nth-child(1)
                                font-size: 50px
                            &:span:nth-child(2)
                                font-size: 40px

