* 
    margin: 0
    padding: 0
    box-sizing: border-box

html 
    font-family: 'Roboto Condensed', sans-serif;

nav    
    background-color: #272727
    z-index: 1

header 

    background-color: #272727

section

    text-align: center


footer
    background-color: #272727

